.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  font-size: 1.5rem;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.link {
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
}

.link:hover {
  color: var(--stripe);
  transition: all 0.5s;
}
.mobile-drawer {
  display: none;
}

.hamburger {
  color: var(--stripe);
}
.hamburger:hover {
  color: #5f69d8;
  transition: all 0.5s;
}

@media only screen and (max-width: 800px) {
  .navbar {
    padding: 1.5rem;
  }

  .logo {
    font-size: 1rem;
  }

  .links {
    display: none;
  }

  .mobile-drawer {
    display: block;
  }
  .drawer-div {
    width: 40vw;
    background-color: var(--black);
    padding: 1.5rem;
    height: 100vh;
  }

  .drawer-div:hover {
    color: var(--stripe);
    transition: all 0.5s;
  }
}
